@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideup {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideright {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

@layer utilities {
  .animate-slideup {
    @apply animate-[slideup_0.5s_ease-in-out];
  }

  .animate-slidedown {
    @apply animate-[slidedown_0.5s_ease-in-out];
  }

  .animate-slideleft {
    @apply animate-[slideleft_0.5s_ease-in-out];
  }

  .animate-slideright {
    @apply animate-[slideright_0.5s_ease-in-out];
  }
}